* {
  color: #9c510c;
  font-family: sans-serif;
}
body {
  background-color: #c4bdac;
}

html {
  color-scheme: dark light;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

nav {
  color: #9c510c;
  font-family: sans-serif;
}

h1 {
  color: #9c510c;
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
}

a {
  color: #9c510c;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

.nav-list {
  display: flex;
  gap: 1rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
  width: max-content;
  font-size: 20px;
  font-family: sans-serif;
}

h2 {
  font-size: 30px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects p,
img {
  justify-self: center;
}
